/* GENERAL ================================= */
* {
  margin: 0;
  padding: 0;
}
body {
  font: 1.2em Arial, Helvetica, sans-serif;
  padding: 60px 0 0 0;
  color: grey;
  }

h1 {
  padding: 0;
  margin: 8px 8px 8px 0;
  line-height: 30px;
  color: white;
}
h2 {
  padding: 0;
  margin: 8px 8px 8px 0;
  line-height: 30px;
  color: #212121;
}
h3 {
  padding: 0;
  margin: 8px 8px 8px 0;
  line-height: 30px;
  color: #757575;
}
h4 {
  padding: 0;
  margin: 8px 8px 8px 0;
  line-height: 30px;
  font-weight: 200;
  color: #757575;
}
p {
  padding: 0;
  margin: 0 0 15px 0;
  line-height: 30px;
  color: #757575;
}
#text1 {
  font-size: 30px;
  line-height: 120%;
  color: white;
  text-align: left;
  padding:10px;
  }
#text2 {
  font-size: 20px;
  line-height: 120%;
  color: white;
  text-align: left;
  padding:10px;
  }

a:link {
  color: #B2DFDB;
  font-weight : bold;
}
/* GRID LAYOUT ================================= */
.grid {
  display: grid;
  grid-gap: 5;
  grid-template-areas:
    "hd"
    "header2"
    "main"
    "ft";
}
.header-sticky {
  z-index: 10000;
  grid-area: hd;
  background: #009688;
  box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.6);
	width: 100%;
  padding: 15px 0 15px 0;
  position: fixed;
  top: 0px;
	left: 0px;
}
.header2 {
  grid-area: header2;
  background: white;
  line-height: 120%;
  width:100%;
  margin: 0 auto;
  padding:70px 0 40px 0;
}
.main {
  grid-area: main;
  background: white;
  width:100%;
  margin: 0 auto;
  text-align: center;
  padding:10px;
}
.second {
  grid-area: second;
  background: white;
  width:100%;
  margin: 0 auto;
  text-align: center;
  padding:10px;
}
.third {
  grid-area: thi;
  background: white;
  width:100%;
  margin: 0 auto;
  text-align: center;
  padding:10px;
}
.forty {
  grid-area: fy;
  background: #00796B;
  width:100%;
  margin: 0 auto;
  height: 200px;
  text-align: center;
  padding:50px 0 30px 0;
}
.five {
  grid-area: fv;
  background: #00796B;
  width:100%;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  padding:50px 0 30px 0;
}
.footer {
  grid-area: ft;
  background: #757575;
  margin: 0pm;
  text-align: center;
  width:100%;
  margin: 0 auto;
  padding:30px 0 30px 0;
  color: white;
}
/* GRID LAYOUT QUERIES ================================= */
@media (min-width: 1100px) {
    .grid {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        "hd      hd      hd"
        "header2    header2    header2"
        "main    second    thi"
        "fy       fv        fv"
        "ft      ft      ft";
    }
  }
  @media (min-width: 900px) and (max-width: 1099px) {
    .grid {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        "hd      hd      hd"
        "header2    header2    header2"
        "main    second    thi"
        "fy       fv        fv"
        "ft      ft      ft";
    }
  }
  @media (min-width: 700px) and (max-width: 899px) {
    .grid {
      grid-template-columns: repeat(3, 1fr)r;
      grid-template-areas:
        "hd      hd      hd"
        "header2    header2    header2"
        "main    second    thi"
        "fy       fv        fv"
        "ft      ft      ft";
    }
    aside {
      display: none;
    }
  }
  @media (max-width: 699px) {
    .grid {
      grid-template-columns: minmax(1fr 1fr 1fr);
      grid-template-areas:
        "hd"
        "header2"
        "main"
        "second"
        "thi"
        "fy"
        "fv"
        "ft"
        ;
    }
  }
/* BUTTON STYLES ================================= */
#encodeButton,
#decodeButton {
  display: inline-block;
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #009688;
  border: none;
  border-radius: 35px;
  
}

#decodeButton:hover, #encodeButton:hover {
    background-color: #00796B}

#encodeButton:active, #decodeButton:active {
  background-color: #009688;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}
/* INPUT AND TEXTAREA STYLES AND ANIMATIONS ================================= */
/* GROUP ================================= */
.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
input, textarea 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }
textarea:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#212121; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#212121;
}
textarea:focus ~ label, textarea:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#212121;
  font-family: Helvetica;
}

/* BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#00796B; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}
textarea:focus ~ .bar:before, textarea:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */

input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}


