body {
    font-family: 'Lato', sans-serif;
    background-color: yellow
}

h1 {
  color: yellow;
}

#title {
    background-color: black
}

#title-2 {
    color: white
}
#out {
    font-size: 200%
}
#out-title {
    font-size: 150%
}
#encrypt {
    background-color:black;
    border: 20px;
    margin: 30px 10px;
    color: yellow;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#encrypt:hover {
    background-color: #555555;
    color: white;
}
#decrypt {
    background-color:black;
    border: 20px;
    margin: 30px 10px;
    color: yellow;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#decrypt:hover {
    background-color: #555555;
    color: white;
}